*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
@font-face {
	font-family: Montserrat-Medium;
	src: url(./fontes/Montserrat/Montserrat-Medium.ttf)
}
@font-face {
    font-family: OpenSans-Medium;
    src: url(./fontes/Open_Sans/static/OpenSans/OpenSans-Medium.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(./fontes/Open_Sans/static/OpenSans/OpenSans-Regular.ttf/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(./fontes/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins-Medium;
    src: url(./fontes/Poppins/Poppins-Medium.ttf);
}
html {
    scroll-behavior: smooth;
  }
:target {
    scroll-margin-top: 80px;
  }

header{
    display:flex;
    align-items:center;
    position:fixed;
    background-color: rgba(220,220,220, 0.7);
    height: 70px;
    padding: 10px;
    width: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 3px 5px  rgba(0, 0, 0, 0.2), 0 8px 12px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    /*background-image: linear-gradient(to bottom right, rgba(15, 12, 177, 0.7), rgb(124, 0, 128,0.5));*/
    z-index: 2;
}
.container{
    display:flex;
    height: 100%;
    width: 100%;
    justify-content:space-between;
}

.logo{
    display:flex;
    align-items: center;
    padding:20px;
    font-size: 35px;
    background: linear-gradient( #16F8A6, #3C8AD8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width:fit-content;
    font-family: OpenSans-Medium;
}

.navbar-links-mobile{
    display: none;
}
.openbtn{
    display: none;
}
.nav{
    display:flex;
    justify-content: flex-end;
    width:60%;
}
.navbar-links{
    display:flex;
    align-items: center;
    
}
.navbar-links a{
    display:flex;
    text-decoration: none;
    margin: 0px 10px;
    border-width: 2px;
    font-size:18px;
    border:solid 2.5px rgb(60, 138, 216);
    border-radius: 20px;
    background-repeat: no-repeat;
    color:rgb(0, 7, 63);
    transition:all 380ms ease-out;
    font-family: Montserrat-Medium;
}
.link1{
    padding: 5px 18px;
}
.link2{
    padding: 5px 8px;
}
.link3{
    padding: 5px 25px;
}
.navbar-links a:hover{
    border-color:transparent;
    color:rgb(0, 3, 26);
    background:linear-gradient(to left, #16F8A6, #3C8AD8) no-repeat border-box;
    box-shadow: 0 4px 8px 0 rgba(7, 67, 127 ,0.6), 0 6px 20px 0 rgba(7, 67, 127,0.15) ;
    transition:all 380ms ease-out;
    border-radius: 20px;
}
.nav-bg{
    background-color: white;
    height:80px
}
.content{
    display: flex;
    justify-content:center;
    align-content: center;
    margin-top:40px;
    width:100%;
    
}
.content img{
    display: flex;
    width: 90%;
    border-radius: 10px;
}
.text-bg{
    display:flex;
    position: absolute;
    padding: 12px;
    margin-top:42px;
    margin-right: 40%;
    width:40%;
    height:50%;
    background: rgba(205, 205, 205, 0.25);
    z-index:1;
    border:solid 1px rgba(180,180,180, 0.7);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.46), 0 6px 7px  rgba(0, 0, 0, 0.35), 0 8px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    backdrop-filter: blur(4.5px);
    
}
.highlight{
    display: inline;
    background: linear-gradient( #16F8A6, #3C8AD8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:28px;
    font-family: Poppins-Medium;
}
.intro-text{
    display: block;
    flex-direction: column;
    box-sizing: border-box;
    font-size:27px;
    color:rgb(255, 255, 255);
    font-family:Poppins-Medium;
}
.intro-text p{
    margin-top:4%;
    padding:10px;
    font-size:17px;
    color: rgb(255, 253, 253);
    font-family: Poppins-Regular;
}
.mais{
    display:flex;
    position:absolute;
    justify-content:center;
    align-items:center;
    z-index: 1;
    color: white;
    margin-top:35%;
    background: rgba(205, 205, 205, 0.25);
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.46), 0 6px 7px  rgba(0, 0, 0, 0.35), 0 8px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.maistxt{
    text-align: center; 
    padding: 10px;
    font-size:18px;
    font-family: Poppins-Medium;
}
.why-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.why-container{
    display:block;
    position: relative;
    width: 90%;
    height: fit-content;
    margin-top: 6%;
    background:rgba(60, 138, 216,0.4);
    border-radius: 10px;
    
}
.why-title{
    display: flex;
    flex-direction: row;
    margin-top:30px;
    margin-left: 30px;
    
    font-size: 25px;
    color:rgb(11, 0, 71);
}
.why-title p{
    font-family: Poppins-Medium;
}
.why-text{
    display: flex;
    margin:20px 0 0 80px;
    padding-right: 25px;
}
.why-text ul{
    list-style: none;
    list-style-image:url('./imagens/success_icon-icons.com_52365-removebg-preview.png');
    margin: 0 0 20px 0;
}
.why-text li{
    font-size:20px;
    color:rgb(0, 11, 90);
    margin:0 0 20px 30px;
    padding:0 0 0 15px;
    font-family: Poppins-Regular;
}
.tech-section {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.tech-container{
    display:block;
    position: relative;
    width: 90%;
    height: fit-content;
    margin-top: 6%;
    background-color: rgba(22, 248, 166,0.5);
    border-radius: 10px;
}
.tech-title {
    display: flex;
    margin-top:30px;
    margin-left: 30px;
    font-size: 25px;
    font-family: Poppins-Medium;
    color: rgb(3, 88, 0);
}
.tech-text-container{
    display:flex;
    text-align: center;
    justify-content: center;
    margin:40px 0 60px 0px;
    
}
.bloco1{
    display: block; 
    flex-direction: column;
    font-size:22px;
    font-family: Poppins-Medium;
    padding-right: 40px;
    margin-left: 60px;
    max-width: 33.4%;
  
}
.bloco2{
    display: block;
    flex-direction: column;
    font-size:22px;
    max-width: 33.4%;
    padding:0 0px 0 50px;
    font-family: Poppins-Medium;
}
.bloco3{
    display: block;
    flex-direction: column;
    font-size:22px;
    padding-left: 80px;
    max-width: 33.4%;
    margin-right: 80px;
    font-family: Poppins-Medium;
}
.techtxt{
    display: flex;
    text-align: center;
    font-size:18px;
    font-family: Poppins-Regular;
    margin-top: 10px;
    color:rgb(36, 77, 50);
}
.section-contato{
    display: flex;
    justify-content: center;
    align-items:center;
}
.contato-container{
    display:block;
    width: 90%;
    height: auto;
    box-sizing: border-box;
    margin-top: 6%;
    margin-bottom:6%;
    background-color: rgb(0, 7, 63);
    border-radius: 10px 10px 10px 10px;
}
.contato-title{
    display: flex;
    margin-top:30px; 
    margin-left: 30px;
    font-size: 25px;
    color:rgb(255, 255, 255);
}
.form-container{
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
}
.form-background{
    display: flex;
    justify-content: center;
    align-items:center;
    height:360px;
    padding: 0px 15px;
    background-color: black;
    border-radius: 10px;
}
.input-contato{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 10%;
}
.input-contato input{
    width: 250px;
    height:40px;
    border-radius: 5px;
}
.txtarea-contato{
    display: flex;  
    justify-content: center;
}
.txtarea-contato textarea{
    width: 100%;
    margin-bottom: 20%;
    border-radius: 5px;
}
.btn-contato{
    display:flex;
    justify-content: space-between;
    width: 100%;
}
.btn-contato button{
    border-radius: 20px;
    padding:8px 10px;
    background-repeat: no-repeat;
    color:rgb(0, 7, 63);
    transition:all 380ms ease-out;
    font-family: Montserrat-Medium;
    border:solid 2.5px rgb(60, 138, 216);
    font-weight: 200;
    background-color: white;
}
.btn-contato button:hover{
    border-color:transparent;
    color:rgb(0, 3, 26);
    background:linear-gradient(to left, #16F8A6, #3C8AD8) no-repeat border-box;
    box-shadow: 0 4px 8px 0 rgba(7, 67, 127 ,0.6), 0 6px 20px 0 rgba(7, 67, 127,0.15) ;
    transition:all 380ms ease-out;
    border-radius: 20px;
}
.btn-contato button:active{
    background:linear-gradient(to left, #0a9663, #204b75) no-repeat border-box;
}

@media (min-width:1770px){
    .mais{
        margin-top:25%;
    }
    .maistxt{
        display:inline;
        text-align: center; 
        font-size:18px;
        
    }
}
@media (max-width:1150px){
    .mais{
        margin-top:45%;
    }
    .text-bg{
        height: 350px;
    }
}
@media (max-width:938px){
    .text-bg{
        height: 330px;
    }
    .intro-text{
        font-size: 25px;
    }
    .highlight{
        display: inline;
        background: linear-gradient( #16F8A6, #3C8AD8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-size:25px;
        font-family: OpenSans-Medium;
    }
    .tech-text-container{
        display:flex;
        text-align:center;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        width: 100%;
        margin:40px 0 60px 0px;
    }
    .bloco1{
        display: flex;
        width: 100%;
        font-size:22px;
        padding-right: 0px;
        margin-left: 0;
        max-width: 100%;
        padding: 30px 30px;
    }
    .bloco2{
        display:flex;
        font-size:22px;
        width: 100%;
        max-width: 100%;
        padding: 30px 0;
    }
    .bloco3{
        display: flex;
        font-size:22px;
        width: 100%;
        max-width: 100%;
        margin-right: 0;
        padding: 30px 0;
    }
    .techtxt{
        display: inline;
        font-size:18px;
        margin-top: 10px;
        padding:0 30px;
        width: 100%;
        color:rgb(36, 77, 50);
        
    }
    
}
@media (max-width:850px){
    .text-bg{
        height: 320px;
        box-sizing: border-box;
        
    }
    .intro-text{
        font-size:23px;
        color:#fff;
        margin-bottom:20%;
    }
    .intro-text p{
        margin-top:10px;
        font-size:16.5px;
        color: rgb(235, 235, 235);
        
    }
    .highlight{
        display: inline;
        background: linear-gradient( #16F8A6, #3C8AD8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size:24px;
        font-family: OpenSans-Medium;
    }
    .mais{
        display:none;
    }
}

@media (max-width: 780px) {
    .navbar-links{
        display:none;
    }
    header{
        height: 60px;
        padding:0px;
    }
    .nav{
        justify-content:flex-end;
        
    }
    .highlight{
        display: inline;
        background: linear-gradient( #16F8A6, #3C8AD8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size:18px;
        font-family: OpenSans-Medium;
    }
    .navbar-links-mobile{
        display:flex;
        align-items:center; 
        position:fixed;
        flex-direction: column;
        overflow-x: hidden;
        width: 0px;
        z-index: 2;
        background-color:rgba(230,230,230, 0.95);
        transition: 0.5s;
        padding-top: 0px;
    }
    .openbtn{
        display:flex;
        padding: 5px;
        margin-right: 20px;
        margin-top: 10px;
        position: fixed;
        z-index: 1;
        font-family: Montserrat-Medium;
        font-size:18px;
        border:solid 2.5px rgb(60, 138, 216);
        border-radius: 20px;
        background-repeat: no-repeat;
        color:rgb(0, 7, 63);
        transition:all 380ms ease-out;
        background-color: transparent;
    }
    .openbtn:hover{
        color:rgb(0, 3, 26);
        background:linear-gradient(to left, #16F8A6, #3C8AD8) no-repeat border-box;
        box-shadow: 0 4px 8px 0 rgba(7, 67, 127 ,0.6), 0 6px 20px 0 rgba(7, 67, 127,0.15) ;
        transition:all 380ms ease-out;
        border-color: transparent;
        border-radius: 25px;
    }
    .navbar-links-mobile a{
        display:block;
        transition: 0.3s;
        border-width: 2px;
        font-size:20px;
        font-weight: bold;
        font-family: Montserrat-Medium;
        border:solid 2.5px rgb(60, 138, 216);
        border-radius: 25px;
        width: 160px;
        color:rgb(0, 7, 63);
        text-decoration:none;
        text-align:center;
        background-color:transparent;
        transition:all 380ms ease-out;
    }
    .navbar-links-mobile a:hover{
        border-color:transparent;
        font-size:20px;
        font-weight: bold;
        color:rgb(0, 3, 26);
        background:linear-gradient(to left, #16F8A6, #3C8AD8) no-repeat border-box;
        box-shadow: 0 4px 8px 0 rgba(7, 67, 127 ,0.6), 0 6px 20px 0 rgba(7, 67, 127,0.15) ;
        transition:all 380ms ease-out;
        border-radius: 25px;
    }
    .navbar-links-mobile .closebtn{
        display:block;
        margin-top: 20px;
        background-color: transparent;
        justify-content: flex-start;
        width:80px;
        font-size: 40px;
        color:rgb(0, 3, 26);
        border:solid 2.5px rgb(60, 138, 216);
        border-radius: 25px;

    }
    .navbar-links-mobile .closebtn:hover{
        color:rgb(0, 3, 26);
        border-color:transparent;
        background:linear-gradient(to left, #16F8A6, #3C8AD8) no-repeat border-box;
        box-shadow: 0 4px 8px 0 rgba(7, 67, 127 ,0.6), 0 6px 20px 0 rgba(7, 67, 127,0.15) ;
        transition:all 380ms ease-out;
        border-radius: 25px;
    }
    .link1{
        padding: 10px 18px;
        margin-top:200px;
        margin-bottom: 10px;
    }
    .link2{
        padding: 10px 8px;
        margin-bottom: 10px;
    }
    .link3{
        padding: 10px 25px;
        margin-bottom: 4000px;
    }
    .intro{
        display: flex;
        justify-content: center;
    }
    .content{
        display: flex;
        justify-content:center;
        align-items:center;
        margin-top:10px;
        width: 95%;
        border-radius: 10px;
        background-color: black;
    }
    .content img{
        display: flex;
        width: 100%;
        border-radius: 10px;
        opacity:0.6;
    }
    .text-bg{
        display:flex;
        position:absolute;
        justify-content:center;
        align-items:center;
        background: transparent;
        margin-top:0%;
        width: 85%;
        margin-right: 0%;
        margin-top:10px;
        z-index:1;
        border:none;
        box-shadow: none;
        backdrop-filter: blur(0px);
        flex-direction: column;
    }
    .intro-text{
        display: block;
        margin-top: 0;
        text-align:center;
        font-size:18px;
        color:#fff;
        margin-bottom:0;
    }
    .intro-text p{
        display: flex;
        width: 100%;
        margin-top:10px;
        padding: 0px;
        font-size:15px;
        color: rgb(255, 255, 255);
    }
    .why-text{
        display: flex;
        margin:20px 0 0 30px;
        padding-right: 25px;
    }
    .tech-text-container{
        display:flex;
        text-align:center;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        width: 100%;
        margin:40px 0 60px 0px;
    }
    .bloco1{
        display: flex;
        width: 100%;
        font-size:22px;
        padding-right: 0px;
        margin-left: 0;
        max-width: 100%;
        padding: 20px 30px;
    }
    .bloco2{
        display:flex;
        font-size:22px;
        width: 100%;
        max-width: 100%;
        padding: 20px 0;
    }
    .bloco3{
        display: flex;
        font-size:22px;
        width: 100%;
        max-width: 100%;
        margin-right: 0;
        padding: 20px 0;
    }
    .techtxt{
        display: inline;
        font-size:18px;
        margin-top: 10px;
        padding:0 30px;
        width: 100%;
        color:rgb(36, 77, 50);
        
    }
}
    
@media (max-width: 425px){
    .text-bg{
        display:flex;
        position:absolute;
        justify-content:center;
        align-items:center;
        background: transparent;
        margin-top:0%;
        width: 90%;
        margin-right: 0%;
        margin-top:10px;
        z-index:1;
        border:none;
        box-shadow: none;
        backdrop-filter: blur(0px);
        flex-direction: column;
    }
    .intro-text{
        display: block;
        margin-top: 0;
        text-align:center;
        font-size:16.5px;
        color:#fff;
        margin-bottom:0;
    }
    .intro-text p{
        display: flex;
        width: 100%;
        margin-top:10px;
        padding: 0px;
        font-size:13.5px;
        color: rgb(255, 255, 255);
    }
    .tech-title {
        display: flex;
        margin-top:30px;
        margin-left: 30px;
        font-size: 22px;
        font-family: Poppins-Medium;
        color: rgb(3, 88, 0);
    }
}

/*COR DOS BOTOES background: linear-gradient(to left, #16F8A6, #3C8AD8);*/